# ===============================
# Logs
# ===============================
*.log
npm-debug.log
yarn-error.log

# ===============================
# Environment
# ===============================
.env
.env.backup
.env.production
auth.json

# ===============================
# Dependencies
# ===============================
/vendor/
/node_modules/

# ===============================
# Build artifacts
# ===============================
/public/build
/public/hot
/public/storage
/public_html/storage
/public_html/hot

# ===============================
# Storage
# ===============================
/storage/*.key
/storage/pail
/app/storage

# ===============================
# Laravel cache / test
# ===============================
.phpunit.result.cache
.phpunit.cache
bootstrap/compiled.php

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
.fleet/
.nova/
.zed/
.phpactor.json

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Vagrant / Homestead
# ===============================
Homestead.json
Homestead.yaml
.vagrant
